<div class="post">
    <div class="post-content">
        <h2 class="post-title">{{post.title}}</h2>
        <p>{{post.content}}</p>
    </div>

    {{#if post.Comments}}
    <div class="comments-section">
        <h3>Comments</h3>
        {{#each post.Comments}}
        <div class="comment">
            <p>{{this.content}}</p>
            <small>Comment by: {{this.user.username}}</small>
            <form action="/comments/update/{{this.id}}" method="POST">
                <input type="hidden" name="postId" value="{{../post.id}}">
                <input type="text" name="content" value="{{this.content}}" required>
                <button type="submit">Update Comment</button>
            </form>
            <!-- Form for deleting a comment -->
            <form action="/comments/delete/{{this.id}}" method="POST">
                <input type="hidden" name="postId" value="{{../post.id}}">
                <button type="submit">Delete Comment</button>
            </form>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>No comments yet. Be the first to comment!</p>
    {{/if}}

    <div class="add-comment-section">
        <h3>Add a Comment</h3>
        <form action="/posts/comment/{{post.id}}" method="POST">
            <textarea name="content" required placeholder="Add a comment..."></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
